*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Courier New', Courier, monospace;
}

header {
    background-color:rgb(6, 126, 6);
}

h1 {
    font-size: 30px;
    color: white;
    text-align: center;
    margin-bottom: 20px;
    padding-top: 10px;
}
nav {
    align-items: center;
    background-color:rgb(11, 184, 11);
    height: auto;
    border-top: 3px solid rgb(4, 48, 15);
}
nav ul{
    display: flex;
    justify-content: center;
    height: 60px;
}

nav ul li {
    text-align: center;
    color: white;
    font-weight: bold;
    padding-top: 20px;
    font-size: 16px;
    width: 200px;
    margin: 0 20px;
    list-style-type: none;
}

nav ul li:hover {
    background-color:rgb(15, 170, 15);
}

main {
    text-align: center;
    margin-top: 20px;
}
h2 {
    color: white;
    background-color: rgb(57, 87, 57);
    width: 710px;
    margin: 10px auto;
}
p {
    width: 675px;
    margin: 20px auto;
    text-indent: 1.5em;
    text-align: justify;
    background-color: rgba(241, 239, 239, 0.432);
    box-sizing: initial;
    padding: 20px;
}

#pilha{
    position: relative;
    display: none;
}

.botao{
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    font-weight: bold;
    color: rgb(1, 37, 37);
    padding: 5px;
    margin-top: 20px;
    background-color: rgb(8, 243, 114);
}
@media(max-width: 800px){
    h1 {
        font-size: 5vw;
    }
    nav ul {
        flex-direction: column;
        align-items: center;
        height: auto;
    }
    nav ul li {
        padding-top: 0;
        margin-top: 3px;
        margin-bottom: 3px;
        width: 100%;
        text-align: center;
        font-size: 3.5vw;
    }
    h2 {
        font-size: 4vw;
        width: 67vw;
    }
    p {
        font-size: 3.5vw;
        width: 60vw;
    }

}